body{
    background-color: hsl(233, 47%, 7%);
}

section{
    background-color: #1B1938;
    width: 1080px;
    height: 446px;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;

}

.informacoes{
    display: inline-block;
    margin-top: 50px;
    
}
   
.lado-esquerdo{
    vertical-align: top;
    padding: 45px 90px 45px 60px;
    width:450px;
}
.lado-direito{
    background-color: hsl(278, 72%, 27%);
    margin: 0px 0px;    
    width:540px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   
}
.imagem{
    opacity: 35%;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px ;
}


h1{
    font-size: 38px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color:#FEFFFA;
}
strong{
    color: hsl(277, 64%, 61%);
}

p{ 
    font-family: 'Inter', sans-serif;
    color: #A6A4BB;
    font-size: 16px;
    font-weight: 400;
}

ul li{
    list-style-type:none;
    text-transform: uppercase;
    
}

ul li:first-child{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #FEFFFA;
}
ul li:last-child{
    font-style: normal;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 12px;
    color:#A6A4BB;
}

@media(max-width:768px){
    
    section{
        display: grid;
        background-color: #1B1938;
        width: 540px;
        height: 1180px;
        margin: 50px auto;
        border-radius: 10px;
    }
    .imagem{
        opacity: 35%;
        border-top-left-radius: 10px ;
        border-top-right-radius: 10px ;
        border-bottom-left-radius: 0px ;
        border-bottom-right-radius: 0px ;
    }
    .lado-direito{
        order: 1;
        top: 60px;
        height: 446px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px ;
        border-bottom-right-radius: 0px ;
    }
    .lado-esquerdo{
        order: 2;
        padding: 0px;
        margin: 0 auto;
    }

    h1{
        font-size: 46px;
        text-align: center;
    }
    p{
        font-size: 25px;
        text-align: center;
    }

    .informacoes{
        display: inline;
    }
    li{  
        text-align: center;
    }


    ul li:first-child{
        font-size: 32px;
    }
    ul li:last-child{
        font-size: 18px;
        margin-bottom: 10px;

    }
       
}